
@{
    ViewBag.Title = "BrandView";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Head{

    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $("#btnShowModal").click(function () {
                debugger;
                $("#Brand").modal('show');
                $('#bName').val('');
            });

            $("#btnClose").click(function () {
                $("#Brand").modal('hide');
            });


            $('#btnsave').click(function () {
                debugger;
                var brand = $('#bName').val();
                var status = $('#ddlstatus').val();
                var ID = $('#Bedit').val();

                var datastring = {
                    'Brand_Name': brand,
                    'Status': status,
                    'ID': ID,
                };
                if ($('#Bedit').val() == "") {
                    $.ajax({
                        type: 'Post',
                        url: '/WebApi/api/Brand',
                        data: JSON.stringify(datastring),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function () {
                            debugger;
                            $("#Brand").modal('hide');
                            $("#success").modal('show');
                            window.setTimeout(function () {
                                $("#success").modal('hide');
                            }, 5000);
                            //$("#success").modal('show');
                            $.each(data, function (key, value) {
                                $('#tableItems').append("<tr id='tr'><td>" + value.Brand_Name + "</td><td>" + value.Status + "</td><td><button type='button' id='edit_brand' onclick='Edit(" + value.ID + ")' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-edit'></span></button><button type='button' id='del_brand' onclick='Del(" + value.ID + ")'class='btn btn-default btn-sm'><span class='glyphicon glyphicon-trash'></span></button></td>");

                            });

                        },
                        error: function (error) {
                            debugger;
                            $("#faild").modal('show');
                        }

                    });
                } else {
                    $.ajax({
                        type: 'Post',
                        url: '/WebApi/Brand/Update',
                        data: JSON.stringify(datastring),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function () {
                            debugger;
                            $("#Brand").modal('hide');
                            window.setTimeout(function () {
                                $("#success").modal('show');
                            }, 5000);
                            //$("#success").modal('show');
                            $.each(data, function (key, value) {
                                $('#tableItems').append("<tr id='tr'><td>" + value.Brand_Name + "</td><td>" + value.Status + "</td><td><button type='button' id='edit_brand' onclick='Edit(" + value.ID + ")' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-edit'></span></button><button type='button' id='del_brand' onclick='Del(" + value.ID + ")'class='btn btn-default btn-sm'><span class='glyphicon glyphicon-trash'></span></button></td>");

                            });
                        }
                    });
                }
                
            });

            //$('#btnClose').click(function () {
            //    $.ajax({
            //        type: 'Get',
            //        url: '/WebApi/api/Brand',
            //        dataType: 'json',
            //        success: function (data) {
            //            $.each(data, function (key, value) {
            //                $('#tableItems').append("<tr id='tr'><td>" + value.Brand_Name + "</td><td>" + value.Status + "</td><td><button type='button' id='edit_brand' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-edit'></span></button><button type='button' id='del_brand' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-trash'></span></button></td>");

            //            });
            //        },
            //        error: function (error) {
            //            debugger;
            //            $("#faild").modal('show');
            //        }
            //    });
            //});

            $.ajax({
                type: 'Get',
                url: '/WebApi/api/Brand',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (key, value) {
                        $('#tableItems').append("<tr id='tr'><td>" + value.Brand_Name + "</td><td>" + value.Status + "</td><td><button type='button' id='edit_brand' onclick='Edit(" + value.ID + ")' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-edit'></span></button><button type='button' id='del_brand' onclick='Del(" + value.ID + ")'class='btn btn-default btn-sm'><span class='glyphicon glyphicon-trash'></span></button></td>");

                    });
                },
                error: function (error) {
                    debugger;
                    $("#faild").modal('show');
                }
            });
            
        });

        function Del(ID) {
            debugger;
            $.ajax({
                type: 'Post',
                url: '/WebApi/api/Brand/delete?ID=' + ID,
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (key, value) {
                        $('#tableItems').append("<tr id='tr'><td>" + value.Brand_Name + "</td><td>" + value.Status + "</td><td><button type='button' id='edit_brand' onclick='Edit(" + value.ID + ")' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-edit'></span></button><button type='button' id='del_brand' onclick='Del(" + value.ID + ")'class='btn btn-default btn-sm'><span class='glyphicon glyphicon-trash'></span></button></td>");
                        
                    });

                    $("#Del_succ").modal('show');
                }
            });

        }

        function Edit(ID) {
            debugger;
            $('#Bedit').val(ID);
            $.ajax({
                type: 'Get',
                url: '/WebApi/api/Brand/load?ID=' + ID,
                dataType: 'json',
                success: function (data) {
                    $("#Brand").modal('show');
                    $("#bName").val(data.Brand_Name);
                    $("#ddlstatus").val(data.Status);
                }
            });
        }

    </script>
}

@section Body{
    <input type="hidden" value="" id="Bedit" class="Bedit" />
    <div class="container" style="margin-left: 43px;">
        <div class="row">
            <div class="col-lg-12 col-xs-12"><h1>Manage <small>Brands</small></h1></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="alert alert-success alert-dismissable" style="display:none" id="success">
                    <strong> Successfully created </strong>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12">
                <div class="alert alert-danger alert-dismissable" style="display:none" id="faild">
                    <strong> Failed created </strong>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12">
                <div class="alert alert-success alert-dismissable" style="display:none" id="Del_succ">
                    <strong> Deleted Successfully </strong>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px">
            <div class="col-lg-12 col-xs-12">
                <button type="button" class="btn btn-primary" id="btnShowModal" data-toggle="model">Add Brand</button>
                <div class="modal fade" data-keyboard="false" data-backdrop="static" id="Brand" tabindex="-1">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Brand</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="bName">Brand Name</label>
                                        <input class="form-control" placeholder="Enter Brand Name" required type="text" id="bName" />
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="ddlstatus" class="form-control">
                                            <option value="Active">Active</option>
                                            <option value="InActive">InActive</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" id="btnClose">Close</button>
                                <button type="button" class="btn btn-primary" id="btnsave">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container ContainerBody" style="margin-top:20px">

        <div class="row">
            <div class="col-lg-12 col-xs-12 containerHeader ">
                Manage Brands
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <table class="GridList" id="as">
                    <tbody id="tableItems">
                        <tr>
                            <td>Brand Name</td>
                            <td>Status</td>
                            <td>Actions</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



